.imagen 
{
    width: 30%;
    display: inline-block;
    margin: 20px; /* Agrega separación entre imágenes */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s ease-in-out; /* Suaviza la animación al agrandar */
    cursor: pointer;
}

.imagen:hover {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor */
}

.contenedor 
{
    text-align: center;
} 