.imagen 
{
    width: 250px;
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s ease-in-out; /* Suaviza la animación al agrandar */
    cursor: pointer;
}

.imagen:hover {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor */
}

.contenedor 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
} 