
<form [formGroup]="formulario" (ngSubmit)="crearPersonaje()">

    <div class="campo">
      <label>¿Cómo te llaman?</label>
      <input formControlName="nombre">
    </div>

    <div class="campo">
      <label>¿A qué temes?</label>
      <select formControlName="miedo">
        <option *ngFor="let opcion of opcionesCampoMiedo" [value]="opcion.id">
          {{ opcion.valor }}
        </option>
      </select>
    </div>
  
    <div class="campo">
      <label>¿Qué tiendes a olvidar?</label>
      <select formControlName="olvido">
        <option *ngFor="let opcion of opcionesCampoOlvido" [value]="opcion.id">
          {{ opcion.valor }}
        </option>
      </select>
    </div>

    <button type="submit" [disabled]="pulsado">Continuar</button>

</form>

<p>{{textoError}}</p>

@if(formularioInvalido)
{
  <button (click)="irAMenu()">Volver</button>)
}

@if (verNoConexion)
{
  <p>{{textoContinuarSinGuardado}}</p>
  <button (click)="irAPantalla1()">Sí</button>
  <button (click)="irAMenu()">No</button>
}

