<p>** Continuar partida **</p>

<form [formGroup]="formulario" (ngSubmit)="continuarPartida()">

    <div class="campo">
      <label>¿Cómo te llamaban?</label>
      <input formControlName="nombre">
    </div>
    
    <div class="campo">
      <label>¿A qué tenías miedo?</label>
      <select formControlName="miedo">
        <option *ngFor="let opcion of opcionesCampoMiedo" [value]="opcion.id">
          {{ opcion.valor }}
        </option>
      </select>
    </div>

    <button type="submit" [disabled]="pulsado">Continuar</button>

</form>

<p>{{textoError}}</p>

<button (click)="volverAMenu()">Volver</button>

