button 
{
    display: block; /* Hace que ocupe todo el ancho disponible */
    margin: 10px auto; /* Centra horizontalmente */
    padding: 10px 20px; /* Añade un poco de espacio */
    border: 2px solid black; /* Borde negro */
    border-radius: 5px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

button:hover 
{
    background-color: lightgray; /* Efecto al pasar el ratón */
    transform: scale(1.1);
}

button:disabled
{
    cursor: default;
    pointer-events: none; 
}

button:disabled:hover 
{
    background-color: inherit;
    border-color: inherit;

}

.imagen 
{
    width: 40%;
    display: block;
    margin: 0 auto;
    border: 5px solid black; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para un borde más elegante */
}

p 
{
    text-align: center; /* Centra el texto de los párrafos */
}


form
{
    text-align: center;

    .campo
    {
        padding: 10px;
        label
        {
            margin-right: 10px;
        }
    }

    button
    {
        margin-top: 20px;
    }
}


video
{
    display: block;
    margin: 0 auto;
    border: 5px solid black; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para un borde más elegante */
    margin-bottom: 20px;
}
  